services:
  client:
    build:
      context: .
      dockerfile: ./apps/client/Dockerfile
      args:
        VITE_APP_SERVER_URL: ${VITE_APP_SERVER_URL}
    environment:
      VITE_APP_SERVER_URL: ${VITE_APP_SERVER_URL}

  server:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      MONGO_URL: ${MONGO_URL}
      CLIENT_URL: ${CLIENT_URL}
      RESEND_API_KEY: ${RESEND_API_KEY}
      JWT_SECRET: ${JWT_SECRET}
      EMAIL_FROM: ${EMAIL_FROM}
  
